# **Pengantar**

Python is an object-oriented language that was developed in late 1980s as a scripting language (the name is derived from the British television show Monty Python’s Flying Circus).
Python has other advantages over mainstream languages that are important in a learning environment:
*   Python is open-source software, which means that it is free; it is included in most Linux distributions.
*   Python is available for all major operating systems (Linux, Unix, Windows, Mac OS etc.). A program written on one system runs without modiﬁcation on all systems.
*   Python is easier to learn and produces more readable code than other languages.
*   Python and its extensions are easy to install.

#**Eksplorasi Code Program berikut!**
Berikan komentar (#komentar) pada bagian-bagian yang menurut anda penting!

**Variabel**

In [ ]:
b=2 
print(b)

2

In [ ]:
b=b*2.0 
print(b)

4.0

**String**

In [ ]:
string1 = 'Press return to exit'
string2 = 'the program'
print(string1)
print(string2)
print(string1 ,'',string2)
print(string1[0:12])

Press return to exit
the program
Press return to exit  the program
Press return

**Tuples**

In [ ]:
rec = ('Junaeti','Enjun',(12,20,1985))
lastName, firstName, birthdate = rec
print(rec[0])
print(lastName)
nama = rec[1] + ' ' + rec[0]
print(nama)
birtYear = birthdate[2]
print(birthdate)

Junaeti
Junaeti
Enjun Junaeti
(12, 20, 1985)

**List**

In [ ]:
a = [1.0, 2.0, 3.0]
a.append(4.0)
print(a)
a.insert(0,0.0)
print(a) 
print (len(a))
a[2:4] = [1.0, 1.0]
print(a)

[1.0, 2.0, 3.0, 4.0]
[0.0, 1.0, 2.0, 3.0, 4.0]
5
[0.0, 1.0, 1.0, 1.0, 4.0]

In [ ]:
a = [1.0, 2.0, 3.0]
b=a
b[0] = 5.0
print (a)

[5.0, 2.0, 3.0]

In [ ]:
a = [5.0, 2.0, 3.0]
c = a[:] 
c[0]=1.0
print(a)

[5.0, 2.0, 3.0]

**Matriks**

In [ ]:
A =[[1, 2, 3], \
[4, 5, 6], \
[7, 8, 9]]
print(A[1])
print(A[1][2])

[4, 5, 6]
6

**Operasi Aritmatika**

In [ ]:
s = 'Hello'
t = 'to you'
a = [1, 2, 3]
print (3*s) 
print (3*a) 
print (a + [4, 5]) 
print(s+t) 
print(s+' '+t)

HelloHelloHello
[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 4, 5]
Helloto you
Hello to you

In [ ]:
a=2
b=3
a+=b
print(a)
a-=b
print(a)
a*=b
print(a)
a/=b
print(a)
a**=b
print(a)
a%=b
print(a)

5
2
6
2.0
8.0
2.0

**Operator Perbandingan**

In [ ]:
a = 2 
b = 1.99 
c = '2'
print(a>b)
print (a == c)
print (a > b) and (a != c)
print (a > b) or (a == b)

True
False
True
True

False

**Percabangan**

In [ ]:
def sign_of_a(a):
  if a < 0.0:
    sign = 'negative'
  elif a > 0.0:
    sign = 'positive'
  else:
    sign = 'zero'
  return sign
a = 1.5
print ('a is ' + sign_of_a(a))

a is positive

**Loops**

In [ ]:
nMax = 5
n=1
a = [] # Create empty list
while n < nMax:
  a.append(1.0/n) # Append element to list
  n=n+1
print (a)

[1.0, 0.5, 0.3333333333333333, 0.25]

In [ ]:
nMax = 5
a=[]
for n in range(1,nMax):
  a.append(1.0/n)
print (a)

[1.0, 0.5, 0.3333333333333333, 0.25]

In [ ]:
list = ['Jack', 'Jill', 'Tim', 'Dave']
name = input('Type a name: ') # Python input prompt
for i in range(len(list)):
  if list[i] == name:
    print (name,'is number',i + 1,'on the list')
    break
else:
  print (name,'is not on the list')

Type a name: Jee
Jee is not on the list

**Fungsi**

In [ ]:
def squares(a):
  for i in range(len(a)):
    a[i]**=2
a = [1, 2, 3, 4]
squares(a)
print (a)

[1, 4, 9, 16]

**math Module**

In [ ]:
from math import log,sin
print(log(10))
print(sin(0.5))

2.302585092994046
0.479425538604203

In [ ]:
import math
print(math.log(10))

2.302585092994046

**Array**

In [ ]:
import numpy as np
b = [1.0, 4.0, 2.0]
print(np.dot(b,b))
a = [[ 4.0, -2.0, 1.0], \
[-2.0, 4.0, -2.0], \
[ 1.0, -2.0, 3.0]]
print(np.dot(a,b))

21.0
[-2. 10. -1.]

# **Latihan**

**Eksplorasi kode program berikut dengan memberikan keterangan pada setiap tahapannya!**

In [8]:
import numpy as np
def my_bisection(g, a, b, e):
  if np.sign(g(a)) == np.sign(g(b)):
    raise Exception('Tidak ada akar pada interval a dan b')
  m = (a + b)/2
  if np.abs(g(m)) < e:
    return m
  elif np.sign(g(a)) == np.sign(g(m)):
    return my_bisection(g, m, b, e)
  elif np.sign(g(b)) == np.sign(g(m)):
    return my_bisection(g, a, m, e)

**Buatlah Kode Program berikut ini!**

In [ ]:
# Definisikan suatu matriks A berordo 2x3 dengan entri-entri yang ditentukan sendiri
#tulis code disini

# Definisikan suatu matriks B berordo 3x3 dengan entri-entri yang ditentukan sendiri
#tulis code disini

# Definisikan suatu matriks C berordo 3x2 dengan entri-entri yang ditentukan sendiri
#tulis code disini

# Carilah perkalian matriks A dan B kemudian print hasilnya
#tulis code disini

# Carilah perkalian matriks B dan C kemudian print hasilnya
#tulis code disini

# Carilah perkalian matriks C dan A kemudian print hasilnya
#tulis code disini